.skills_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem 4rem;
}

.card.skill{
    display: flex;
    gap:1rem;
}
#skills h2{
    margin-bottom: 2rem;
}
.skill_icon{
    background-color: var(--color-primary);
    padding: 1rem;
    border-radius: var(--border-radius-3);
    font-size: 2rem;
    color: var(--color-white);
}

.skill:hover .skill_icon{
    background-color: rgb(172,97,172);
    color: white;
}

.skill_details{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:600px) 
{
    .skills_container{
        grid-template-columns: 1fr;
        place-content: center;
        gap: 1.2rem;
    }
    .card.skill{
        gap:1.2rem;
    }
}