*{
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;

}

:root{
  --color-primary:#22d2e7;
  --color-white:white;
  --color-light:#faedd0;
  --color-dark:rgb(67,29,29);

  --container-width-lg:76%;
  --container-width-md:90%;

  --border-radius-1:1.2rem;
  --border-radius:2:0.8rem;
  --border-radius-3:0.5rem;

  --trasition:all 550ms ease;

}

body{
  line-height: 1.6;
  font-size: 0.9rem;
}

.container{
  width: var(--container-width-lg);
  max-width: 1920px;
  margin-inline: auto;
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}

section{
  padding: 10rem 0;
  background-color: var(--color-light);
  transition: var(--transition);

}

section>h2{
  text-align: center;

}
section:nth-child(even){
 background-color: var(--color-white);
}

section>p{
  text-align: center;
  margin: 0.5rem auto 4rem;
}

h1,h2,h3,h4,h5,h6{
  line-height: 1.1;
  color: var(--color-black);
}

h1{
  font-size: 3rem;

}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.6rem;
}

h4{
  font-size: 1.1rem;
}

h5{
  font-size: 0.9rem;
}

h6{
  font-size: 0.8rem;
}
a{
  transition: var(--trasition);
}

.btn{
  display: inline-block;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-light);
  color: var(--color--black);
  padding: 0.6rem 2.5rem;
  border: 2px solid transparent;
  border-radius: var(--border-radius-2);
  cursor: pointer;
}

.btn:hover{
  background-color: transparent;
  border-color: var(--color-black);
}

@media screen and (max-width:1024px){

  body{
    font-size: 1rem;
  }
  .container{
    width: var(--container-width-md);
   
  }
  section{
    padding: 8rem 0;
  }
  section>p{
   width: 72%;
   margin-bottom: 3rem;

  }
  h1{
    font-size: 2rem;
  }

}

@media screen and (max-width:600px){

  h1{
    font-size: 2.4rem;
  }
  h2{
    font-size: 1.8rem;
  }
  h3{
    font-size: 1.4rem;
  }
  h4{
    font-size: 1rem;
  }
  section>p{
    width: var(--container-width-md);
  }
  
}
